@model IEnumerable<MVCTask.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>@Html.Partial("_SongsList", Model)</div>
